 <!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Random Quote</title>
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
       <link href="/static/css/styles.css" rel="stylesheet">
   </head>
   <body>
       <div class="container">
           <div class="jumbotron text-center mt-5">
               <h1 class="display-4">Random Quote</h1>
               <p class="lead">{{ quote }}</p>
               <hr class="my-4">
               <p><strong>- {{ author }}</strong></p>
               <a class="btn btn-primary btn-lg" href="/" role="button">Get Another Quote</a>
           </div>
       </div>
   </body>
   </html>